{% extends "base.html" %}

{% block content %}

<style>
    .logout-link, .login-link, .edit-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        border: 2px solid #007bff;
        padding: 8px 16px;
        border-radius: 5px;
        margin-left: 2.5%;
    }

    .logout-link:hover, .login-link:hover, .edit-link:hover {
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
    }

    .table_edit {
        text-align: center;
    }

    p {
        margin-left: 2.5%;
    }

    .content-container {
        height: 100vh;
        padding: 0;
        margin: 0 5%;
        background-color: white;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #687485;
    }

    table {
        background-color: transparent;
        width: 95%;
        border-collapse: collapse;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 2px solid;
    }

    .table_div {
        overflow-x: auto;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        color: #333;
        text-align: center;
    }

    .Add_new {
        text-align: center;
        margin-top: 20px;
    }

    a.edit-link:hover {
        text-decoration: none;
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    h2 {
        text-align: center;
        font-size: 3vw;
    }

    .logout-div {
        padding-top: 2%;
    }
</style>

<div class="content-container">
    <div class="logout-div">
        <a href="{% url 'logout' %}" class="logout-link">Log Out</a>
    </div>

    {% if user_profiles %}
    <h2>Your Pages</h2>

    <div class="table_div">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in user_profiles %}
                <tr>
                    <td>{{ profile.title }}</td>
                    <td>{{ profile.first_name }} {{ profile.last_name }}</td>
                    <td>{{ profile.email }}</td>
                    <td>{{ profile.phone }}</td>
                    <td class="table_edit">
                        <a href="{% url 'profile-edit' pk=profile.pk %}" class="edit-link">Edit</a>
                    </td>
                    <td class="table_view">
                        <a href="{% url 'page' id=profile.pk %}" class="view-link">View Page</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
    <div class="Add_new">
        <a href="{% url 'page-creator' %}" class="edit-link">Add Project</a>
    </div>

</div>

{% endblock %}